:root {
  --black: #000000ff;
  --tertiary-color: #6e5f15ff;
  --secondary-color: #dbbe2aff;
  --primary-color: #fad92fff;
  scrollbar-color: grey transparent;
}

* {
  font-family: "Rubik", sans-serif;
}
html,
body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0;
  background-color: var(--primary-color);
}

.flex-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

#logo {
  width: 200px;
  filter: drop-shadow(2px 10px 10px rgba(0, 0, 0, 0.4));
}
h2 {
  text-align: center;
}
select {
  background-color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
  border: 1px solid black;
}

#contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.info {
  color: var(--tertiary-color);
}

.OutputWrapper {
  background-color: var(--secondary-color);
  width: 70vw;
  padding: 30px;
  margin: 10px;
  position: relative;
  border-radius: 5px;
}

.copyOutput {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: pointer;
}

.openExternal {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  opacity: 50%;
}

footer {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: underline;
  color: var(--tertiary-color);
}
hr {
  height: 2px;
  border-width: 0;
  background-color: var(--black);
  opacity: 60%;
  border-radius: 2px;
  width: 80%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.error {
  --black: #000000ff;
  --tertiary-color: #6e5f15ff;
  --secondary-color: #8e1108;
  --primary-color: #fd1301;
}

code {
  background-color: var(--secondary-color);
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

main {
  padding: 20px;
  word-wrap: break-word;
}
.caesarDecodeWrapper,
.caesarEncodeWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
textarea {
  padding: 5px;
  color: var(--black);
  border: none;
  border-radius: 10px;
  width: 400px;
}
textarea::placeholder {
  color: var(--black);
  opacity: 100%;
}
button {
  background: none;
  border: none;
  background-color: white;
  border-radius: 10px;
  width: 80px;
  height: 30px;
}
input.key {
  background: none;
  background-color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
::placeholder {
  color: var(--black);
}

pre {
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  width: 100%;
  padding: 10px;
  text-align: left;
}

input[type="text"] {
  background: none;
  background-color: white;
  border-radius: 10px;
  width: 80px;
  height: 40px;
}

input,
textarea,
button {
  border: 1px solid gray;
}

@media only screen and (max-width: 1200px) {
  textarea {
    width: 300px;
  }
}

@media only screen and (max-width: 550px) {
  textarea {
    width: 200px;
  }
}

::-webkit-scrollbar {
    height: 5px;
    background: none;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background: #000;
}